<div
  style="height: 65px;width:100%; background-color:rgb(230, 230, 230) ; border:1px solid rgb(230, 230, 230) ; position:relative; border-radius:10px; margin-top:50px ">
  <h1
    style="color: blue; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; position:absolute; top:-7px">
    ćwiczenie 1 - to jest strona login</h1>
</div>